#loginContainer {
	position: fixed;
	top: 50%;
	left:  50%;
	width: 340px;
	height:  280px;
	margin-top: -140px;
	margin-left: -170px;
}

form {
	margin: 0 auto;
	margin-top: 20px;
}

label {
	color: #555555;
	display: inline-block;
	margin-left: 18px;
	padding-top: 10px;
	font-size: 14px;
	float: left;
}
label:after {
	content: ": ";
}

.loginSection {
	display: block;
	text-align: center;
	margin-top: 10px;
}

.grandParentContaniner{
		display:table; height:100%; margin: 0 auto;
	}

	.parentContainer{
		display:table-cell; vertical-align:middle;
	}